@import "~normalize-css/normalize.css";

* {
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
  line-height: 1.2;
  color: var(--text-color);
}


a {
  display: flex;
  text-decoration: none;
}


img {
  max-width: 100%;
  height: auto;
}

button {
  background: none;
  border: none;
  box-shadow: none;
}

input, textarea {
  font-family: inherit;
  color: var(--placeholder-color);
  border: none;
  outline: none;
}


textarea {
  &::-webkit-scrollbar,
  &::-webkit-scrollbar-thumb {
    display: none;
  }
}